@charset "UTF-8";
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Nanum+Gothic:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Pretendard", "Nanum Gothic", "맑은 고딕";
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 60px;
}

header,
nav,
main,
article,
section,
footer {
  display: block;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1400px;
    padding: 0;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.show {
  display: block;
}

@-webkit-keyframes load {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(290px);
  }
}

@keyframes load {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(290px);
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    bottom: 40%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    bottom: 30%;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    bottom: 40%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    bottom: 30%;
  }
}
@-webkit-keyframes spin {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes flicker {
  from {
    text-shadow: 0 0 5px #2e7ebb, 0 0 5px #2e7ebb, 0 0 20px #2e7ebb, 0 0 20px #2e7ebb;
  }
  to {
    text-shadow: 0 0 5px rgba(46, 126, 187, 0.5764705882), 0 0 5px rgba(46, 126, 187, 0.5764705882), 0 0 20px rgba(46, 126, 187, 0.5764705882), 0 0 20px rgba(46, 126, 187, 0.5764705882);
  }
}
@keyframes flicker {
  from {
    text-shadow: 0 0 5px #2e7ebb, 0 0 5px #2e7ebb, 0 0 20px #2e7ebb, 0 0 20px #2e7ebb;
  }
  to {
    text-shadow: 0 0 5px rgba(46, 126, 187, 0.5764705882), 0 0 5px rgba(46, 126, 187, 0.5764705882), 0 0 20px rgba(46, 126, 187, 0.5764705882), 0 0 20px rgba(46, 126, 187, 0.5764705882);
  }
}
@-webkit-keyframes line {
  from {
    width: 0;
  }
  to {
    width: 120vw;
  }
}
@keyframes line {
  from {
    width: 0;
  }
  to {
    width: 120vw;
  }
}
@-webkit-keyframes mover {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(520%);
  }
}
@keyframes mover {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(520%);
  }
}
@-webkit-keyframes on {
  0% {
    top: -10%;
  }
  50% {
    top: -14%;
  }
  100% {
    top: -10%;
  }
}
@keyframes on {
  0% {
    top: -10%;
  }
  50% {
    top: -14%;
  }
  100% {
    top: -10%;
  }
}
@-webkit-keyframes mo_on {
  0% {
    top: 25%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 25%;
  }
}
@keyframes mo_on {
  0% {
    top: 25%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 25%;
  }
}
@-webkit-keyframes moveropa {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveropa {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes wmove {
  0% {
    left: 50%;
  }
}
@keyframes wmove {
  0% {
    left: 50%;
  }
}
@-webkit-keyframes imgmove {
  0% {
    transform: rotateZ(30deg);
  }
  50% {
    transform: translate(20%, 50%);
  }
  100% {
    transform: translate(40%, -50%) rotateZ(15deg) scale(1.1);
  }
}
@keyframes imgmove {
  0% {
    transform: rotateZ(30deg);
  }
  50% {
    transform: translate(20%, 50%);
  }
  100% {
    transform: translate(40%, -50%) rotateZ(15deg) scale(1.1);
  }
}
@-webkit-keyframes cloud {
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes cloud {
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes light {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes light {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  position: relative;
  width: 100vw;
}
header .bg-front {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  header .bg-front {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #000;
  }
}
header .bg-front .front-box {
  position: relative;
  width: 100%;
  height: 100vh;
}
header .bg-front .front-box .hd-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  opacity: 0;
  color: #fff;
  font-size: 70px;
  white-space: nowrap;
  -webkit-animation: moveropa 4s 1s linear;
          animation: moveropa 4s 1s linear;
  font-family: "Montserrat", sans-serif, Arial;
}
header .bg-front .front-box .line-img {
  position: absolute;
  top: 63%;
}
header .bg-front .front-box .line-img img {
  width: 0%;
  display: block;
  width: 100vw;
  height: 29px;
  -webkit-animation: line 3s ease-in;
          animation: line 3s ease-in;
}
header .bg-front .front-box .plane-img {
  position: absolute;
  top: 60%;
  left: 0;
}
header .bg-front .front-box .plane-img img {
  display: block;
  -webkit-animation: mover 3s ease-in forwards;
          animation: mover 3s ease-in forwards;
}
header .wheel-box {
  display: none;
  position: fixed;
  top: 106px;
  left: 169px;
  opacity: 0.5;
}
@media screen and (min-width: 1024px) {
  header .wheel-box {
    display: block;
  }
}
header .wheel-box .wheel {
  position: absolute;
  top: -60px;
  left: -64px;
  -webkit-animation: wheel 4s linear infinite;
          animation: wheel 4s linear infinite;
}
header .header-bg {
  width: 100%;
  height: 100vh;
  background-image: url(../img/hdimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header .menuBox {
  width: 100%;
  position: absolute;
  top: 10px;
}
header .menuBox .mobile-menubox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  header .menuBox .mobile-menubox {
    display: none;
  }
}
header .menuBox .mobile-menubox .ham {
  height: 25px;
}
header .menuBox .mobile-menubox .ham:hover {
  cursor: pointer;
}
header .menuBox .main-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  header .menuBox .main-menu {
    display: block;
  }
}
header .menuBox .main-menu .gnb {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif, Arial;
  font-size: 24px;
}
header .menuBox .main-menu .gnb li a {
  color: #fff;
}
header .menuBox .main-menu .gnb li a:hover {
  cursor: pointer;
  font-weight: 600;
  color: #eb7324;
  transition: all 0.4s;
}
header .bg-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
}
header .bg-content .triload {
  width: 280px;
  height: 430px;
}
@media screen and (min-width: 768px) {
  header .bg-content .triload {
    width: 398px;
    height: 493px;
  }
}
header .bg-content .triload img {
  width: 100%;
  height: 100%;
}
header .bg-content .airplane {
  width: 169px;
  height: 175px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: -10%;
  left: 49%;
  -webkit-animation: on 5s linear infinite;
          animation: on 5s linear infinite;
}
header .bg-content .airplane img {
  width: 100%;
  height: 100%;
}
header .scroll-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
header .scroll-line span {
  position: relative;
  overflow: hidden;
  display: block;
  width: 3px;
  height: 290px;
  margin: 0 auto 10px;
  background-color: #ccc;
}
header .scroll-line span::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: white;
  -webkit-animation: load 1s linear infinite;
          animation: load 1s linear infinite;
}
header .textBox {
  width: 100%;
}
header .textBox .hd-text {
  position: absolute;
  bottom: 90px;
  left: 20px;
  width: 280px;
  font-size: 40px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif, Arial;
}
@media screen and (min-width: 768px) {
  header .textBox .hd-text {
    font-size: 70px;
  }
}
@media screen and (min-width: 1024px) {
  header .textBox .hd-text {
    bottom: 30%;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    opacity: 0;
    -webkit-animation: fadein 1s 3s linear forwards;
            animation: fadein 1s 3s linear forwards;
  }
  header .textBox .hd-text br {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  header .textBox {
    font-size: 60px;
  }
}
header .mo-overlay {
  display: block;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(29, 83, 123, 0.9);
}
@media screen and (min-width: 768px) {
  header .mo-overlay {
    max-width: 580px;
  }
}
@media screen and (min-width: 1024px) {
  header .mo-overlay {
    display: none;
  }
}
header .mo-overlay .close-btn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 60px;
  font-weight: 300;
  color: #ccc;
}
header .mo-overlay .overlay-menu {
  position: relative;
  top: 20%;
  text-align: center;
}
header .mo-overlay .overlay-menu ul li.on {
  display: block;
}
header .mo-overlay .overlay-menu ul li a {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  line-height: 100px;
  color: #fff;
  padding: 15px 0;
}
header .mo-overlay .overlay-menu ul li a:hover, header .mo-overlay .overlay-menu ul li a:focus {
  color: #eb7324;
  transform: skew(-10deg);
}
header .mo-overlay .overlay-menu ul li a:hover::after {
  width: 100%;
}

main {
  position: relative;
}
main section.about {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: #1d537b;
}
@media screen and (min-width: 1024px) {
  main section.about {
    width: 100%;
    height: 100%;
  }
}
main section.about .mo-about-imgbox {
  position: relative;
  width: 100%;
  height: 840px;
}
@media screen and (min-width: 1024px) {
  main section.about .mo-about-imgbox {
    display: none;
  }
}
main section.about .mo-about-imgbox .topcloud {
  display: inline-block;
  position: absolute;
  top: 180px;
  right: 0;
}
main section.about .mo-about-imgbox .myimg {
  width: 280px;
  height: 188px;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  -webkit-animation: mo_on 5s linear infinite;
          animation: mo_on 5s linear infinite;
}
main section.about .mo-about-imgbox .myimg img {
  width: 100%;
}
main section.about .mo-about-imgbox .btclouds {
  min-width: 280px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
main section.about .mo-about-textBox {
  position: absolute;
  top: 390px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 280px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  main section.about .mo-about-textBox {
    font-size: 20px;
    width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  main section.about .mo-about-textBox {
    display: none;
  }
}
main section.about .mo-about-textBox h2 {
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  main section.about .mo-about-textBox h2 {
    font-size: 28px;
    line-height: 1.5;
  }
}
main section.about .mo-about-textBox .txt1 {
  line-height: 1.5;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px gray;
}
main section.about .mo-about-textBox .txt2 {
  line-height: 18px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px gray;
}
@media screen and (min-width: 768px) {
  main section.about .mo-about-textBox .txt2 {
    line-height: 24px;
  }
}
main section.about .mo-about-textBox .txt2 span {
  display: block;
  color: cornflowerblue;
  margin: 2px;
  -webkit-animation: flicker 1s infinite linear;
          animation: flicker 1s infinite linear;
}
main section.about .sec-title {
  position: absolute;
  top: 100px;
}
@media screen and (min-width: 1024px) {
  main section.about .sec-title {
    right: 0;
    top: 160px;
  }
}
main section.about .sec-title .circle1 {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(235, 115, 36);
  opacity: 0;
}
main section.about .sec-title .scale {
  -webkit-animation: scale 0.5s linear forwards;
          animation: scale 0.5s linear forwards;
}
main section.about .sec-title h1 {
  width: 180px;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 50px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif, Arial;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.about .sec-title h1 {
    width: 310px;
    font-size: 60px;
    left: -310px;
  }
}
main section.about .about-content-bg {
  display: none;
  position: relative;
}
@media screen and (min-width: 1024px) {
  main section.about .about-content-bg {
    display: block;
  }
}
main section.about .about-content-bg .flex-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main section.about .about-content-bg .flex-box .about-imgbox {
  width: 600px;
  line-height: 100%;
  margin-top: 160px;
  height: 787px;
}
main section.about .about-content-bg .flex-box .about-imgbox .topcloud {
  margin-left: 20%;
}
main section.about .about-content-bg .flex-box .about-imgbox .btclouds,
main section.about .about-content-bg .flex-box .about-imgbox .topcloud {
  -webkit-animation: cloud 10s linear infinite;
          animation: cloud 10s linear infinite;
}
main section.about .about-content-bg .flex-box .about-imgbox .myimg {
  position: absolute;
}
main section.about .about-content-bg .flex-box .about-imgbox .move {
  -webkit-animation: imgmove 2.5s ease-in forwards;
          animation: imgmove 2.5s ease-in forwards;
}
main section.about .about-content-bg .flex-box .about-imgbox .btclouds {
  display: block;
  margin-top: 376px;
}
main section.about .about-content-bg .flex-box .about-textBox {
  width: 810px;
  padding-top: 320px;
  font-size: 20px;
  color: #fff;
  text-align: right;
}
main section.about .about-content-bg .flex-box .about-textBox .text {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
main section.about .about-content-bg .flex-box .about-textBox .text::after {
  content: "";
  margin-left: 0.4rem;
  border-right: 0.05em solid #fff;
  -webkit-animation: cursor 0.5s ease infinite;
          animation: cursor 0.5s ease infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
main section.about .about-content-bg .flex-box .about-textBox .txt1 {
  margin-top: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}
main section.about .about-content-bg .flex-box .about-textBox .txt2 {
  margin-top: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}
main section.about .about-content-bg .flex-box .about-textBox .txt2 span {
  display: inline-block;
  color: cornflowerblue;
  margin: 2px;
  -webkit-animation: flicker 1s infinite linear;
          animation: flicker 1s infinite linear;
}
main section.skills {
  background-color: black;
  width: 100vw;
  height: 100%;
}
main section.skills .sec-title {
  position: absolute;
  top: 60px;
}
@media screen and (min-width: 1024px) {
  main section.skills .sec-title {
    top: 160px;
  }
}
main section.skills .sec-title .circle2 {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(235, 115, 36);
  opacity: 0;
}
main section.skills .sec-title .scale {
  -webkit-animation: scale 0.5s linear forwards;
          animation: scale 0.5s linear forwards;
}
main section.skills .sec-title h1 {
  width: 180px;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 50px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif, Arial;
}
@media screen and (min-width: 1024px) {
  main section.skills .sec-title h1 {
    width: 310px;
    font-size: 60px;
  }
}
main section.skills .skill-content {
  position: relative;
  padding-top: 190px;
  padding-bottom: 70px;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  main section.skills .skill-content {
    padding-bottom: 190px;
    padding-top: 130px;
  }
}
main section.skills .skill-content .circlebox {
  text-align: center;
}
main section.skills .skill-content .circlebox .circle_sk1,
main section.skills .skill-content .circlebox .circle_sk2,
main section.skills .skill-content .circlebox .circle_sk3,
main section.skills .skill-content .circlebox .circle_sk4,
main section.skills .skill-content .circlebox .circle_sk5,
main section.skills .skill-content .circlebox .circle_sk6,
main section.skills .skill-content .circlebox .circle_sk7,
main section.skills .skill-content .circlebox .circle_sk8,
main section.skills .skill-content .circlebox .circle_sk9,
main section.skills .skill-content .circlebox .circle_sk10 {
  display: inline-block;
  width: 110px;
  height: 110px;
  margin: 10px 10px;
  cursor: pointer;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  main section.skills .skill-content .circlebox .circle_sk1,
main section.skills .skill-content .circlebox .circle_sk2,
main section.skills .skill-content .circlebox .circle_sk3,
main section.skills .skill-content .circlebox .circle_sk4,
main section.skills .skill-content .circlebox .circle_sk5,
main section.skills .skill-content .circlebox .circle_sk6,
main section.skills .skill-content .circlebox .circle_sk7,
main section.skills .skill-content .circlebox .circle_sk8,
main section.skills .skill-content .circlebox .circle_sk9,
main section.skills .skill-content .circlebox .circle_sk10 {
    width: 240px;
    height: 240px;
    margin-top: 170px;
  }
}
main section.skills .skill-content .circlebox .hocircle {
  position: absolute;
  top: 190px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main section.skills .skill-content .circlebox .hocircle {
    top: 130px;
  }
}
main section.skills .skill-content .circlebox .hocircle img {
  display: inline-block;
  width: 110px;
  margin: 10px 10px;
  cursor: pointer;
  z-index: 10;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  main section.skills .skill-content .circlebox .hocircle img {
    margin-top: 170px;
    width: 240px;
  }
}
main section.skills .skill-content .circlebox .spin {
  -webkit-animation: spin 1s linear forwards;
          animation: spin 1s linear forwards;
}
main section.skills .skill-content .circletxt {
  display: none;
}
@media screen and (min-width: 1024px) {
  main section.skills .skill-content .circletxt {
    display: block;
    color: #fff;
  }
}
main section.skills .skill-content .circletxt .sktxt {
  position: absolute;
  top: 53%;
  font-size: 24px;
  text-align: center;
  opacity: 1;
}
main section.skills .skill-content .circletxt .op {
  opacity: 0;
}
main section.projects {
  background-color: #1d537b;
  width: 100%;
  position: relative;
}
main section.projects .sec-title {
  position: absolute;
  top: 60px;
}
@media screen and (min-width: 1024px) {
  main section.projects .sec-title {
    right: 0;
    top: 200px;
  }
}
main section.projects .sec-title .circle3 {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(235, 115, 36);
  opacity: 0;
}
main section.projects .sec-title .scale {
  -webkit-animation: scale 0.5s linear forwards;
          animation: scale 0.5s linear forwards;
}
main section.projects .sec-title h1 {
  width: 180px;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 50px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif, Arial;
}
@media screen and (min-width: 1024px) {
  main section.projects .sec-title h1 {
    width: 310px;
    font-size: 60px;
    left: -295px;
  }
}
main section.projects .win-imgBox {
  display: none;
}
@media screen and (min-width: 1024px) {
  main section.projects .win-imgBox {
    display: block;
    display: flex;
    justify-content: space-around;
    padding-top: 600px;
  }
}
main section.projects .btn-text {
  display: none;
}
@media screen and (min-width: 1024px) {
  main section.projects .btn-text {
    display: block;
  }
}
main section.projects .btn-text ul {
  display: flex;
  justify-content: space-around;
  margin-top: -180px;
  font-size: 30px;
  color: #fff;
}
main section.projects .btn-text ul li {
  width: 200px;
  text-align: center;
  font-weight: 600;
}
main section.projects .btn-text ul li a {
  color: #fff;
}
main section.projects .btn-text ul li:hover {
  cursor: pointer;
}
main section.projects .btn-text ul li:hover span {
  display: block;
  background: linear-gradient(45deg, rgba(29, 83, 123, 0.5), rgba(235, 115, 36, 0.5));
  opacity: 0;
  height: 5px;
  margin-top: -3px;
  border-radius: 10px;
}
main section.projects .btn-text ul li:hover .line1 {
  width: 152px;
  margin-left: 24px;
  -webkit-animation: wid1 0.3s linear forwards;
          animation: wid1 0.3s linear forwards;
}
@-webkit-keyframes wid1 {
  0% {
    width: 0;
  }
  100% {
    width: 152px;
    opacity: 1;
  }
}
@keyframes wid1 {
  0% {
    width: 0;
  }
  100% {
    width: 152px;
    opacity: 1;
  }
}
main section.projects .btn-text ul li:hover .line2 {
  width: 180px;
  margin-left: 10px;
  -webkit-animation: wid2 0.3s linear forwards;
          animation: wid2 0.3s linear forwards;
}
@-webkit-keyframes wid2 {
  0% {
    width: 0;
  }
  100% {
    width: 180px;
    opacity: 1;
  }
}
@keyframes wid2 {
  0% {
    width: 0;
  }
  100% {
    width: 180px;
    opacity: 1;
  }
}
main section.projects .btn-text ul li:hover .line3 {
  width: 100px;
  margin-left: 50px;
  -webkit-animation: wid3 0.3s linear forwards;
          animation: wid3 0.3s linear forwards;
}
@-webkit-keyframes wid3 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
    opacity: 1;
  }
}
@keyframes wid3 {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
    opacity: 1;
  }
}
main section.projects .pjweb {
  padding-top: 250px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb {
    margin-top: 170px;
  }
}
main section.projects .pjweb .sub-title {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  align-items: center;
}
main section.projects .pjweb .sub-title h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .sub-title h2 {
    font-size: 30px;
  }
}
main section.projects .pjweb .sub-title span {
  display: block;
  margin-left: 25PX;
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, rgba(77, 108, 131, 0.5), rgba(223, 163, 213, 0.5));
}
main section.projects .pjweb .pj-box {
  width: 100%;
}
main section.projects .pjweb .pj-box .portfolio1 {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio1 {
    margin-top: 250px;
    flex-direction: row;
    justify-content: space-between;
  }
}
main section.projects .pjweb .pj-box .portfolio1 .img-con img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio1 .img-con img {
    width: 834px;
  }
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con {
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con {
    width: 434px;
    margin-top: 0;
  }
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-title {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif, Arial;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-title .line1 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-title p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 15px 0;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-title p {
    font-size: 36px;
  }
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-title .line2 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-top: 10px;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-info {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-info {
    font-size: 24px;
  }
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-info p {
  margin-bottom: 40px;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-info span:nth-child(2) {
  display: inline-block;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .txt-info span:nth-child(3) {
  display: inline-block;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .info-btns {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .info-btns span {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .info-btns span:nth-child(1) {
  width: 167px;
  height: 43px;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .info-btns span:nth-child(2) {
  width: 62px;
  height: 43px;
}
main section.projects .pjweb .pj-box .portfolio1 .txt-btn-con .info-btns span:hover {
  background-color: black;
  font-weight: 600;
  transition: all 0.5s;
}
main section.projects .pjweb .pj-box .portfolio2 {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio2 {
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-between;
  }
}
main section.projects .pjweb .pj-box .portfolio2 .img-con img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio2 .img-con img {
    width: 834px;
  }
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con {
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con {
    width: 434px;
    margin-top: 0;
  }
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-title {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif, Arial;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-title .line1 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-title p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 15px 0;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-title p {
    font-size: 36px;
  }
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-title .line2 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-top: 10px;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-info {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-info {
    font-size: 24px;
  }
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-info p {
  margin-bottom: 40px;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-info span:nth-child(2) {
  display: inline-block;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .txt-info span:nth-child(3) {
  display: inline-block;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .info-btns {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .info-btns span {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .info-btns span:nth-child(1) {
  width: 167px;
  height: 43px;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .info-btns span:nth-child(2) {
  width: 62px;
  height: 43px;
}
main section.projects .pjweb .pj-box .portfolio2 .txt-btn-con .info-btns span:hover {
  background-color: black;
  font-weight: 600;
  transition: all 0.5s;
}
main section.projects .pjweb .pj-box .portfolio3 {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio3 {
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-between;
  }
}
main section.projects .pjweb .pj-box .portfolio3 .img-con img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio3 .img-con img {
    width: 834px;
  }
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con {
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con {
    width: 434px;
    margin-top: 0;
  }
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-title {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif, Arial;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-title .line1 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-title p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 15px 0;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-title p {
    font-size: 36px;
  }
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-title .line2 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-top: 10px;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-info {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-info {
    font-size: 24px;
  }
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-info p {
  margin-bottom: 40px;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-info span:nth-child(2) {
  display: inline-block;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .txt-info span:nth-child(3) {
  display: inline-block;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .info-btns {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .info-btns span {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .info-btns span:nth-child(1) {
  width: 167px;
  height: 43px;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .info-btns span:nth-child(2) {
  width: 62px;
  height: 43px;
}
main section.projects .pjweb .pj-box .portfolio3 .txt-btn-con .info-btns span:hover {
  background-color: black;
  font-weight: 600;
  transition: all 0.5s;
}
main section.projects .pjjs {
  padding-top: 150px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs {
    padding-top: 250px;
  }
}
main section.projects .pjjs .sub-title {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  align-items: center;
}
main section.projects .pjjs .sub-title h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .sub-title h2 {
    font-size: 30px;
  }
}
main section.projects .pjjs .sub-title span {
  display: block;
  margin-right: 25px;
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, rgba(223, 163, 213, 0.5), rgba(77, 108, 131, 0.5));
}
main section.projects .pjjs .pj-box {
  width: 100%;
}
main section.projects .pjjs .pj-box .portfolio1 {
  position: relative;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio1 {
    margin-top: 250px;
    flex-direction: row;
    justify-content: space-between;
  }
}
main section.projects .pjjs .pj-box .portfolio1 .img-con img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio1 .img-con img {
    width: 834px;
  }
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con {
  padding-top: 70px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con {
    width: 434px;
    padding-top: 0;
  }
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-title {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif, Arial;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-title .line1 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-title p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 15px 0;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-title p {
    font-size: 36px;
  }
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-title .line2 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-top: 10px;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-info {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-info {
    font-size: 24px;
  }
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-info p {
  margin-bottom: 40px;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-info span:nth-child(2) {
  display: inline-block;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .txt-info span:nth-child(3) {
  display: inline-block;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .info-btns {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .info-btns span {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .info-btns span:nth-child(1) {
  width: 167px;
  height: 43px;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .info-btns span:nth-child(2) {
  width: 62px;
  height: 43px;
}
main section.projects .pjjs .pj-box .portfolio1 .txt-btn-con .info-btns span:hover {
  background-color: black;
  font-weight: 600;
  transition: all 0.5s;
}
main section.projects .pjjs .pj-box .portfolio2 {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio2 {
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-between;
  }
}
main section.projects .pjjs .pj-box .portfolio2 .img-con img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio2 .img-con img {
    width: 834px;
  }
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con {
  padding-top: 70px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con {
    width: 434px;
    padding-top: 0;
  }
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-title {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif, Arial;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-title .line1 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-title p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 15px 0;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-title p {
    font-size: 36px;
  }
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-title .line2 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-top: 10px;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-info {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-info {
    font-size: 24px;
  }
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-info p {
  margin-bottom: 40px;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-info span:nth-child(2) {
  display: inline-block;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .txt-info span:nth-child(3) {
  display: inline-block;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .info-btns {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .info-btns span {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .info-btns span:nth-child(1) {
  width: 167px;
  height: 43px;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .info-btns span:nth-child(2) {
  width: 62px;
  height: 43px;
}
main section.projects .pjjs .pj-box .portfolio2 .txt-btn-con .info-btns span:hover {
  background-color: black;
  font-weight: 600;
  transition: all 0.5s;
}
main section.projects .pjreact {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}
main section.projects .pjreact .sub-title {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  align-items: center;
}
main section.projects .pjreact .sub-title h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .sub-title h2 {
    font-size: 30px;
  }
}
main section.projects .pjreact .sub-title span {
  display: block;
  margin-left: 25PX;
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, rgba(77, 108, 131, 0.5), rgba(223, 163, 213, 0.5));
}
main section.projects .pjreact .pj-box {
  width: 100%;
}
main section.projects .pjreact .pj-box .portfolio1 {
  position: relative;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio1 {
    margin-top: 250px;
    flex-direction: row;
    justify-content: space-between;
  }
}
main section.projects .pjreact .pj-box .portfolio1 .img-con img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio1 .img-con img {
    width: 834px;
  }
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con {
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con {
    width: 434px;
    margin-top: 0;
  }
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-title {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif, Arial;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-title .line1 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-title p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 15px 0;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-title p {
    font-size: 36px;
  }
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-title .line2 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-top: 10px;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-info {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-info {
    font-size: 24px;
  }
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-info p {
  margin-bottom: 40px;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-info span:nth-child(2) {
  display: inline-block;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .txt-info span:nth-child(3) {
  display: inline-block;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .info-btns {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .info-btns span {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .info-btns span:nth-child(1) {
  width: 167px;
  height: 43px;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .info-btns span:nth-child(2) {
  width: 62px;
  height: 43px;
}
main section.projects .pjreact .pj-box .portfolio1 .txt-btn-con .info-btns span:hover {
  background-color: black;
  font-weight: 600;
  transition: all 0.5s;
}
main section.projects .pjreact .pj-box .portfolio2 {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio2 {
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-between;
  }
}
main section.projects .pjreact .pj-box .portfolio2 .img-con img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio2 .img-con img {
    width: 834px;
  }
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con {
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con {
    width: 434px;
    margin-top: 0;
  }
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-title {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif, Arial;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-title .line1 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-title p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 15px 0;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-title p {
    font-size: 36px;
  }
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-title .line2 {
  display: block;
  min-width: 280px;
  height: 1px;
  border: 1px solid #fff;
  margin-top: 10px;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-info {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-info {
    font-size: 24px;
  }
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-info p {
  margin-bottom: 40px;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-info span:nth-child(2) {
  display: inline-block;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .txt-info span:nth-child(3) {
  display: inline-block;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .info-btns {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .info-btns span {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .info-btns span:nth-child(1) {
  width: 167px;
  height: 43px;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .info-btns span:nth-child(2) {
  width: 62px;
  height: 43px;
}
main section.projects .pjreact .pj-box .portfolio2 .txt-btn-con .info-btns span:hover {
  background-color: black;
  font-weight: 600;
  transition: all 0.5s;
}

footer {
  width: 100%;
  height: 840px;
  background-image: url(../img/footerimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (min-width: 1024px) {
  footer {
    height: 100%;
  }
}
footer .contect .sec-title {
  position: absolute;
  top: 60px;
}
@media screen and (min-width: 1024px) {
  footer .contect .sec-title {
    top: 160px;
  }
}
footer .contect .sec-title .circle4 {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(235, 115, 36);
  opacity: 0;
}
footer .contect .sec-title .scale {
  -webkit-animation: scale 0.5s linear forwards;
          animation: scale 0.5s linear forwards;
}
footer .contect .sec-title h1 {
  width: 180px;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 50px;
  font-weight: 600;
  color: white;
  font-family: "Montserrat", sans-serif, Arial;
}
@media screen and (min-width: 1024px) {
  footer .contect .sec-title h1 {
    font-size: 60px;
  }
}
footer .contect .form-content {
  padding-top: 200px;
}
@media screen and (min-width: 1024px) {
  footer .contect .form-content {
    padding-top: 300px;
  }
}
footer .contect .form-content form {
  width: 100%;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  footer .contect .form-content form {
    width: 1060px;
    height: 578px;
    background-color: #000;
    margin: 0 auto;
    padding: 40px;
  }
}
footer .contect .form-content form .input-info {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer .contect .form-content form .input-info {
    display: flex;
    justify-content: space-between;
  }
}
footer .contect .form-content form .input-info input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  footer .contect .form-content form .input-info input {
    width: 45%;
    height: 50px;
    font-size: 28px;
    margin-bottom: 40px;
  }
}
footer .contect .form-content form .txt-message {
  width: 100%;
}
footer .contect .form-content form .txt-message textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  footer .contect .form-content form .txt-message textarea {
    height: 300px;
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  footer .contect .form-content form .txt-message textarea::-moz-placeholder {
    font-weight: 600;
    letter-spacing: 3px;
  }
  footer .contect .form-content form .txt-message textarea:-ms-input-placeholder {
    font-weight: 600;
    letter-spacing: 3px;
  }
  footer .contect .form-content form .txt-message textarea::placeholder {
    font-weight: 600;
    letter-spacing: 3px;
  }
}
footer .contect .form-content form button {
  position: relative;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #1d537b;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  float: right;
}
@media screen and (min-width: 1024px) {
  footer .contect .form-content form button {
    width: 122px;
    height: 52px;
    font-size: 24px;
  }
}
footer .contect .form-content form button:hover {
  background-color: #1d537b;
  font-weight: 600;
}
footer .contect .form-content form button:disabled {
  cursor: not-allowed;
}
footer .contect .form-content form button:disabled:hover, footer .contect .form-content form button:disabled:active, footer .contect .form-content form button:disabled:focus {
  background-color: transparent;
  color: #fff;
}
footer .contect .form-content form button:disabled:hover .form-alert, footer .contect .form-content form button:disabled:active .form-alert, footer .contect .form-content form button:disabled:focus .form-alert {
  display: block;
}
footer .contect .form-content form button span.form-alert {
  display: none;
  width: 170px;
  position: absolute;
  bottom: -100%;
  right: 0%;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  footer .contect .form-content form button span.form-alert {
    width: 300px;
  }
}
footer .contect .form-content form button span.form-alert::after {
  bottom: 100%;
  left: 50%;
  margin-top: -20%;
  margin-left: -5px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 5px;
}
footer .contect .form-content form .status-modal {
  width: 280px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  display: none;
  text-align: center;
  background-color: rgba(29, 83, 123, 0.7);
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 15px -1px rgba(35, 31, 32, 0.4);
  z-index: 10;
}
footer .contect .form-content form .status-modal .active {
  display: block;
  -webkit-animation: appear 0.8s ease-in-out;
          animation: appear 0.8s ease-in-out;
}
footer .contect .form-content form .status-modal h3 {
  margin: 20px 0;
  letter-spacing: 1px;
  opacity: 0.3;
  font-size: 1.5rem;
  font-weight: 600;
}
footer .contect .form-content form .status-modal h3 i {
  margin-left: 2px;
}
footer .contect .form-content form .status-modal .okay,
footer .contect .form-content form .status-modal .try-again {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 1.3rem;
  cursor: pointer;
}
footer .contect .form-content form .status-modal .try-again {
  background-color: rgba(235, 115, 36, 0.6);
}
footer .contect .form-content form .status-modal .try-again:hover {
  background-color: rgb(235, 115, 36);
}
footer .contect .form-content form .status-modal .okay {
  background-color: rgba(29, 83, 123, 0.6);
}
footer .contect .form-content form .status-modal .okay:hover {
  background-color: rgb(29, 83, 123);
}
footer section.foot-contents {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents {
    display: flex;
    justify-content: space-between;
  }
}
footer section.foot-contents .icon {
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .icon {
    margin-top: 150px;
  }
}
footer section.foot-contents .icon div {
  display: inline-block;
  width: 35px;
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .icon div {
    width: 52px;
    margin-right: 50px;
  }
}
footer section.foot-contents .icon div span img {
  display: none;
}
footer section.foot-contents .icon div:hover {
  cursor: pointer;
}
footer section.foot-contents .icon div:hover img {
  display: none;
}
footer section.foot-contents .icon div:hover .i-git img {
  display: inline-block;
}
footer section.foot-contents .icon div:hover .i-email img {
  display: inline-block;
}
footer section.foot-contents .icon div:hover .i-sns img {
  display: inline-block;
}
footer section.foot-contents .flex-box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .flex-box {
    margin-top: 150px;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    height: 200px;
  }
}
footer section.foot-contents .flex-box .foottxt {
  width: 100%;
  margin: 50px 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .flex-box .foottxt {
    font-size: 20px;
    width: 550px;
    height: 107px;
    text-align: center;
  }
}
footer section.foot-contents .flex-box .foottxt span {
  display: inline-block;
  font-weight: 600;
}
footer section.foot-contents .flex-box .planebox {
  position: relative;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .flex-box .planebox {
    margin-right: -100px;
  }
}
footer section.foot-contents .flex-box .planebox .foot-img span {
  opacity: 0;
  display: inline-block;
  position: absolute;
  margin-top: 0px;
  margin-left: -68px;
  border-radius: 50%;
  background-color: rgb(252, 251, 250);
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #eb7324, 0 0 30px #eb7324, 0 0 40px #eb7324, 0 0 55px #eb7324, 0 0 75px #eb7324;
  -webkit-animation: light 1s 1s infinite alternate;
          animation: light 1s 1s infinite alternate;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .flex-box .planebox .foot-img span {
    opacity: 0;
    width: 15px;
    height: 15px;
    margin-top: -8px;
    margin-left: 20px;
  }
}
footer section.foot-contents .flex-box .planebox .foot-img span:nth-child(2) {
  opacity: 0;
  margin-top: 0px;
  margin-left: -60px;
  -webkit-animation: light 1s 2s infinite alternate;
          animation: light 1s 2s infinite alternate;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .flex-box .planebox .foot-img span:nth-child(2) {
    width: 15px;
    height: 15px;
    margin-top: -8px;
    margin-left: 38px;
  }
}
footer section.foot-contents .flex-box .planebox .foot-img span:nth-child(3) {
  margin-top: 0px;
  margin-left: -51px;
  -webkit-animation: light 1s 3s infinite alternate;
          animation: light 1s 3s infinite alternate;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .flex-box .planebox .foot-img span:nth-child(3) {
    width: 15px;
    height: 15px;
    margin-top: -8px;
    margin-left: 55px;
  }
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .flex-box .planebox .foot-img {
    width: 260px;
  }
}
footer section.foot-contents .flex-box .planebox .foot-img img {
  width: 79px;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .flex-box .planebox .foot-img img {
    position: absolute;
    bottom: 0;
    width: 156px;
  }
}
footer section.foot-contents .flex-box .planebox .foot-topmenu {
  width: 100%;
}
footer section.foot-contents .flex-box .planebox .foot-topmenu img {
  position: fixed;
  top: 80%;
  right: 10px;
  width: 79px;
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  footer section.foot-contents .flex-box .planebox .foot-topmenu img {
    width: 100px;
  }
}
footer section.foot-contents .flex-box .planebox .foot-topmenu img:hover {
  transform: rotateX(40deg);
  cursor: pointer;
}
footer section.foot-contents .flex-box .planebox .foot-topmenu .op {
  opacity: 1;
  transition: all 0.5s;
}/*# sourceMappingURL=index.css.map */