// ===== 중단점 =====
$break-mobile: 320px;
$break-tablet: 768px;
$break-desktop: 1024px;

// ===== 폰트 종류 =====
$kor-font: 'Pretendard', 'Nanum Gothic', '맑은 고딕';
$eng-font: 'Montserrat', sans-serif, Arial;
$point-eng: 'Lora', serif;

// ===== 컬러 사용 =====
$orange-color: #eb7324;
$bluebg-color: #1d537b;
